# --- binary / generated artifacts ---

models/*

# --- secrets ---
.env

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Scrapy ---
.scrapy/

